* { margin:0; padding:0; font-family: Arial; }

#esquerda {
  width: 35%;
  float: left;
  height: 500px;
}
#direita {
  width: 65%;
  float: left;
  height: 500px;  
}
label,input,button{
  line-height: 30px;
  height: 30px;
  outline: none;
  font-size:13pt;
  width: 100%;
}

form {
  margin-top:10px;
  width: 330px;
  padding: 20px;
  background-color: #ddd;
  margin:30px auto;
}

input[type="submit"] {
  margin-top:25px;
  cursor: pointer;
;
}

table {
  width: 90%;
  margin: 30px auto;
} 
tr {
  line-height: 30px;
  background-color: #ddd;
}

td {
  padding: 0px 7px;

}
a {
  padding: 5px;
  color:#000;
  text-decoration: none;
  margin: 0px 5px;
  background-color: #f9f9f9;
}
h2 {
  text-align: center;
}

.aviso {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: center;
}

img {
  width: 50px;
  display: block;
}